.title-h {
	font-size: 2rem;
	font-weight: 300;

}

body {
	box-sizing: border-box;
}


a {
	color: #fff;
	text-decoration: none;
}
body {
	font-family: sans-serif;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	background-color: #fff;
}
nav ul {
	display: flex;
	margin: 2rem;
	list-style-type: none;		
}

nav ul li {
	margin: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #dc5d00;
}

.main-title {
	flex: 1;
	margin: 2rem;
	font-size: 2rem;
	text-transform: uppercase;
	color: #dc5d00;
}



.container {
	display: flex;
	flex: 1;
	justify-content: space-around;
	align-items: center;
	background: #dc5d00;
}

.linkIcons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	color: #fff;
}

.linkIcons:hover {
	color: #000;
}

.icon {
	width: 65px;
	height: 65px;
}

.icon:hover {
	background: #000;
}

.icon-name {
	margin: 20px;
}

.section{
	display: flex;
	width: 100vw;
	height: 45vh;
	background: #ed670e;
	margin-top: 1vh;

}

.section-title {
	height: 1.5rem;
	font-size: 1rem;
	color: #fff;
	margin: 1rem;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	justify-content: center;
}

.about-text {
	color: #fff;
	padding: 2vh;
	font-family: sans-serif;
	font-size: 16px;	
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ed670e;
	height: 3vh;
	color: #fff;
}

